@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --color-red: #f40404;
  --color-gray: #cccccc;
  --color-white: #fff;
  --bg-blue: #222374;
  --text-black: #000;
}



* {
  font-family: "Open sans";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--color-red);
  height: 100px;
  display: flex;
  color: var(--color-white);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

a , a:hover {
  text-decoration: none;
  color: unset;
}

h1 {
  font-size: 18px;
  font-weight: 700;
}



.flex1 {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}

img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

#space {
  background-color: var(--bg-blue);
  padding: 20px;
}

.card-space {
  background-color: var(--color-gray);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}

.card-space h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: var(--text-black);
}

.card-space p {
  font-weight: 400px;
  font-size: 14px;
  color: var(--text-black);
}

#space h2 {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700px;
  color: var(--color-white);
}

#modality {
  background-color: var(--color-white);
  padding: 20px;
}

#modality h2 {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700px;
  color: var(--color-red);
}

.card-mod {
  background-color: var(--bg-blue);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
}

.card-mod h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-white);
}

.card-mod p {
  font-size: 14px;
  font-weight: 400px;
  color: var(--color-white);
}

footer {
  background-color: var(--text-black);
  padding: 60px;
  color: var(--color-white);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 260px;
}

.container-social {
  align-items: center; 
  justify-content: center;
  display: flex;  
}

.social img {
  margin-bottom: 10px;
}

.container-end {
  padding: 30px
}